{% extends "layout.html" %}

{% set active_item = 'home' %}

{% block main_content %}

  <div class="jumbotron">
    <h1>FalconPHP</h1>
    <p>FalconPHP es un toolset que facilita el desarrollo de aplicaciones en PHP. Cuenta con cuatro componentes base:</p>
    <ul>
      <li>
        <b>Composer: </b><span>Dependency manager</span>
      </li>
      <li>
        <b>Core: </b><span>Módulo que provee routing y funcionalidades básicas</span>
      </li>
      <li>
        <b>Template Engine: </b><span>Twig con soporte multilenguaje usando gettext</span>
      </li>
      <li>
        <b>ORM: </b><span>Illuminate basado en Eloquent con phpMig como migration tool</span>
      </li>
    </ul>
    <p>
      <a class="btn btn-lg btn-primary" href="http://falcon-example.herokuapp.com/get-started" role="button">View FalconPHP docs »</a>
    </p>
  </div>

{% endblock %}

{% block scripts_bottom %}

  <script>
    // Here goes the magic!
    $(document).ready(function(){


    });
  </script>

{% endblock %}
