<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es" xmlns:fb="http://ogp.me/ns/fb#"xmlns:og="http://opengraphprotocol.org/schema/">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="es" xmlns:fb="http://ogp.me/ns/fb#"xmlns:og="http://opengraphprotocol.org/schema/">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="es" xmlns:fb="http://ogp.me/ns/fb#"xmlns:og="http://opengraphprotocol.org/schema/">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/">
<!--<![endif]-->
  <head prefix="og: http://ogp.me/ns#  fb: http://ogp.me/ns/fb#  website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index,follow">

    <title>{{ SITE_TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
    <meta name="DC.title" content="{{ SITE_TITLE }}">
    <meta name="DC.description" content="{{ DESCRIPTION }}">
    <meta name="msvalidate.01" content="{{ BING_CODE }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TWITTER CARDS -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ SITE_URL }}">
    <meta name="twitter:title" content="{{ SITE_TITLE }}">
    <meta name="twitter:creator" content="{{ SITE_URL }}">
    <meta name="twitter:description" content="{{ DESCRIPTION }}">
    <meta name="twitter:site" content="{{ SITE_NAME }}">
    <!-- TWITTER SUMARY CARD - MIN 200x200px -->
    <meta name="twitter:image" content="{{ SITE_IMAGE }}">
    <!-- OPEN GRAPH-->
    <meta property="fb:app_id" content="{{ FB_APP_ID }}">
    <meta property="fb:admins" content="{{ FB_APP_ID }}">
    <meta property="og:site_name" content="{{ SITE_NAME }}">
    <meta property="og:title" content="{{ SITE_TITLE }}">
    <meta property="og:image" content="{{ SITE_IMAGE }}">
    <meta property="og:description" content="{{ DESCRIPTION }}">
    <meta property="og:url" content="{{ SITE_URL }}">
    <meta property="og:type" content="website">

    <link rel="shortcut icon" href="<%= @DOMAIN_BASE %>/static/img/icons/favicon.ico" type="image/x-icon"/>

    <link rel="apple-touch-icon" href="<%= @DOMAIN_BASE %>/static/img/icons/ios/apple-touch-icon-precomposed.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="<%= @DOMAIN_BASE %>/static/img/icons/ios/apple-touch-icon-72x72-precomposed.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="<%= @DOMAIN_BASE %>/static/img/icons/ios/apple-touch-icon-114x114-precomposed.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="<%= @DOMAIN_BASE %>/static/img/icons/ios/apple-touch-icon-144x144-precomposed.png"/>

    <meta name="msapplication-TileColor" content="#3D86C6">
    <meta name="msapplication-TileImage" content="<%= @DOMAIN_BASE %>/static/img/icons/ms/tileicon.png">

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ DOMAIN_BASE }}/rss"/>
    <link rel="canonical" href="http://{{ SITE_URL }}"/>

    <!-- Web Fonts -->

    <!-- THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ DOMAIN_BASE }}/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ DOMAIN_BASE }}/static/css/default.css"/>

    <!-- EXTRA_STYLES_HEAD -->
    {% block styles_head %}

    {% endblock %}

    <link rel="stylesheet" href="{{ DOMAIN_BASE }}/static/css/main.css">

    <!-- This includes html5shim -->
    <script src="{{ DOMAIN_BASE }}/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>

    <!-- EXTRA_SCRIPTS_HEAD -->
    {% block scripts_head %}

    {% endblock %}

    {% include "templates/analytics.html" with { ANALYTICS_ACCOUNT: ANALYTICS_ACCOUNT, DOMAIN_BASE: DOMAIN_BASE} %}
  </head>
  <body>
    <div id="fb-root"></div>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="page-wrapper" class="wide">

      <!-- HEADER AREA -->
      {% include "partials/header.html" %}

      <!-- MAIN CONTENT AREA -->
      <div class="container">
        {% block main_content %}

        {% endblock %}
      </div>

      <!-- FOOTER AREA-->
      {% include "partials/footer.html" %}

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ DOMAIN_BASE }}/static/js/lib/jquery-1.10.2.min.js"></script>
    <script src="{{ DOMAIN_BASE }}/static/bootstrap/js/bootstrap.min.js"></script>

    <script src="{{ DOMAIN_BASE }}/static/js/vendor/jquery.blockUI.js"></script>
    <script src="{{ DOMAIN_BASE }}/static/js/main.js"></script>

    <script>
      $(document).ajaxStop($.unblockUI);
      $(document).ajaxSend(function () { $.blockUI({ message: '<h4>Procesando ...</h4>' }); });
    </script>

    <!-- EXTRA_SCRIPTS_BOTTOM -->
    {% block scripts_bottom %}

    {% endblock %}
  </body>
</html>
