<footer id="footer" class="color-2-bg">
  <!--Bottom Footer-->
  <div id="bottom-footer">
    <!-- Container -->
    <div class="container">
      <span id="copy-text" class="pull-left no-float-xs block-xs align-center-xs">&copy; 2014 All Rights Reserved.</span>
    </div>
    <!-- Container /END -->
  </div>
  <!--Bottom Footer /END-->
</footer>
