
/* GOOGLE FONTS

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

*/


/* LOCAL */

/* Open Sans Regular 
-----------------------------------------------------------------------*/
@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Regular.eot');
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Regular.ttf') format('truetype'),
       url('OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Italic.eot');
  src: url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Italic.ttf') format('truetype'),
       url('OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Semibold.eot');
  src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Semibold.ttf') format('truetype'),
       url('OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-SemiboldItalic.eot');
  src: url('OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Bold.eot');
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Bold.ttf') format('truetype'),
       url('OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-BoldItalic.eot');
  src: url('OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-BoldItalic.ttf') format('truetype'),
       url('OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

/* Open Sans Condensed
-----------------------------------------------------------------------*/

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondBold-webfont.eot');
    src: url('OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondBold-webfont.woff') format('woff'),
         url('OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('OpenSans-CondBold-webfont.svg#OpenSansCondensed') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondLight-webfont.eot');
    src: url('OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLight-webfont.woff') format('woff'),
         url('OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondLightItalic-webfont.eot');
    src: url('OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLightItalic-webfont.woff') format('woff'),
         url('OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: 300;
    font-style: italic;

}